
body {
font-family: Arial, Helvetica, sans-serif;
line-height: 34px;
font-size: 18px;
color: #777777;
background-image: url("assets/images/white-waves");
}

* {
    box-sizing: border-box;
  }

  .container {
    width: 100%;
    max-width: 960px;
    margin: auto;
    clear: both;
}

h1,
h2,
h3,
p {
    margin-bottom: 20px;
}

p {
    float: right;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #4aaaa5;
}

h1 {
    padding: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
}

h2,
h3 {
    font-size: 22px;
}


#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;

}

#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    background: #4aaaa5;
    text-align: center;
    text-decoration: none;
}

nav {
    float: right;
    margin-top: 25px;
}

/* nav a edits the about, portfolio, and contact links at top of page */

nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
}

/* nav a removes the single line next to About */

nav a:first-child {
border-left: 0 none;
}

footer {
    background-color: #666666;
    color: #ffffff;
    color: #cccccc;
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    text-align: center;
    height: 50px;
    border-top: 8px solid #4aaaa5;
}

h3,
h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eeeeee;
}

#main-container {
    padding-top: 130px;
    min-height: calc (100vh - 70px);
}

.main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
}

/*Portfolio */

.work {
    position: relative;
    float: left;
    /* width: 300px;
    max-height: 400px;
    margin: 20px 0 25px;
    overflow: auto; */
}

#p1Img{
    max-width: 275px;
    height: 200px;
    border: 5px solid #4aaaa5;
}

.work:nth-child(even) {
    margin-right: 40px;
}


.work h5, p {
    position: relative;
    bottom: 20px;
    width: 100%;
    padding: 1px;
    margin-bottom: 0;
    font-weight: 350;
    line-height: 30px;
    text-align: center;
    color: #4aaaa5;
    background-attachment: #4aaaa5;
    border-bottom: 0;
}

.work p {
    position: relative;
    bottom: 20px;
    width: 50%;
    margin-bottom: 0;
    font-weight: 200;
    line-height: 40px;
    text-align: center;
    color: #4aaaa5;
}

.work p:hover {
    font-size: 120%;
}



/*Contact*/

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label
input [type=text],
input [type=email],
textarea {
    display: block;
    width: 100%;
}

textarea {
    height: 200px;
}

input[type=submit] {
padding: 10px 30px;
font-size: 18px;
color: #ffffff;
cursor: pointer;
background: #4aaaa5;
border: 0 none;
}


@media screen and (max-width: 980px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 640px){
    #masthead {
        position: static;
    }

}